@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
   
}

.container{
    width: 90%;
    min-height: 80vh;
    background-color: #4c0672;
    margin:3rem auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* differece b/w items and content */
    box-shadow: 0 0rem 1rem rgba(9, 24, 24, 0.5);
}



#heading{
    font-size:3rem;
   height: 10rem;
   font-family:"Dancing Script" , sans-serif;
   padding: 3rem;
   color: aliceblue;
}




#btn{
    height: 20rem;
    width: 25rem;
    font-family:"Dancing Script" , sans-serif;
    border-radius: 1rem;
    color:gold;
    border: none;
    outline:none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    font-size: 5rem;
    box-shadow: 1rem 1rem 1rem rgba(43, 1, 54, 0.7);
    /* filter: grayscale(); */

    /* transition: filter 0.4s ease-in-out; */
    transition: transform 0.4s ease-in-out;
}

#btn:hover{
    cursor: pointer;
    /* filter: grayscale(0); */
    transform: translate(0 ,-0.7rem) scale(1.02);
}

#name{
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: aliceblue;
    padding: 3rem;
}

@media screen and (max-width:600px) {
    #btn{
        width: 20rem;
        height: 17rem;
    }
    
    .container{
        height: 40vh;
    }
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}